:root{
  --media-query-max-width: 1000px;
}

body{
  background-color: #282c34;
}

.App {
  min-height: 100vh;
  width: 100%;
  font-size: calc(10px + 2vmin);
  color: white;
  justify-content: center;
}

.column-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start; /* Updated alignment */
}

.column{
  width: 45vw;
  display: inline-block;
  margin: 0 auto;
}

@media screen and (max-width: 1000px) {
  .column {
      width: 90%;
  }
}





