.palette-container{
    border-left: 7px solid #000000;
    padding: 20px;
    padding-left: 0px;
    margin-left: 20px;
    transition: height 2s ease-in-out;
    overflow: hidden;
}

.color-div-container{
    display: flex;
    flex-wrap: wrap;
}

@keyframes slideIn {
    0% {    
        width: 0px;
        opacity: 0;
        padding-left: 0%;
        padding-right: 0%;
    }
    50% {       
        opacity: 1;
    }
}

.color-div{
    position: relative;
    height: calc(10vh + 4vw);
    box-shadow: 0 0px 15px rgba(0, 0, 0);
    margin-top: -3px;
    margin-bottom: -3px;
    animation: slideIn 2s ease-out;
}

.color-values-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: left 0.7s ease-out;
}


.color-value{
    font-size: calc(5px + 2vmin);
    border-radius: 10px;
    padding: 5px;
    background-color: #d2d5db;
    white-space: nowrap;
    color: #000;
    font-weight: 500;
    box-shadow: 0 0px 15px rgba(0, 0, 0);
}

.color-value-wrapper{
    margin: 15px;
    text-align: left;
}

.copy-icon{
    margin-left: 5px;
    margin-bottom: -4px;
}

.copy-icon:hover {
    cursor: pointer;
    color: rgb(160, 160, 199);
}

.copied-icon{
    margin-left: 5px;;
    margin-bottom: -3px;
}

.color-value-label{
    font-size: calc(3px + 2vmin);
    font-weight: bold;
    margin: 5px;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}

.copy-all-buttons-wrapper{
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 3vmin;
    margin-bottom: 3vmin;
    display: flex;
}


.copy-all-button{
    position: relative;
    margin: 10px;
    padding: 7px;
    border-radius: 10px;
    font-size: calc(1px + 3vmin);
    font-weight: 200;
    color: #222;
    transition: all 0.1s ease-out;
    font-weight: 800;
    text-shadow:
        0.03em 0 white,
        0 0.03em white,
        -0.03em 0 white,
        0 -0.03em white;

    box-shadow: 0 0px 15px rgba(0, 0, 0);
}

.copy-all-button:hover{
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    text-shadow:
        0.1em 0 black,
        0 0.1em black,
        -0.1em 0 black,
        0 -0.1em black;
}

@media screen and (max-width: 1000px) {
    .copy-all-buttons-wrapper {
        display: block;
    }
}