.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; 
  font-size: calc(10px + 2vmin);
  color: white;
}

.column{
  padding: 10px;
  /* border: 1px solid #ccc; */
  width: 45%;
  display: inline-block;
}

@media screen and (max-width: 700px) {
  
  .column {
      width: 70%;
  }
}

#palete-display-column{
  border-left: 3px solid #000000;
  padding-top: 20px;
  padding-left: 0px;
  padding-bottom: 20px;
}

#imageDisplay{
  border: 3px solid #000000;
  border-radius: 3px;
}

.canvas-wrapper{
  position: relative;
  margin: 20px;
  padding: 10px;
  background-color: #daedff;
  border: 5px solid #000000;
  border-radius: 10px;

}

#image-selector{
  display: none;
}

.file-input-label{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: #606877;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: calc(2px + 2vmin);
  font-weight: bold;
  text-transform: uppercase;
  /* add strong shadow */
  box-shadow: 0 0px 15px rgba(0, 0, 0);
}

.file-input-label:hover {
  background-color: #aeb4be;
  color: #4a5261;
}

.upload-icon{
  margin-bottom: -5px;
  margin-right: 10px;
}

input[type="number"] {
  width: 50px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 18px;
  color: #333;
}

.control{
  margin: 20px;
  text-align: left;
}




